body {
    background-image: url("./pexels-adam-krypel-19165796-6498990.jpg");
    background-size: cover;
}
h1 {
    text-align: center;
    font-size: 50px;
}
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.top_nav_bar {
    margin: 50px auto auto auto;
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: none;
}