body {
    background-color: #183157;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.top_nav_bar {
    position: relative;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: #1e0485;
    opacity: 75%;
}

.top_nav_bar a {
    position: relative;
    text-decoration: none;
    padding: 10px 15px;
    color: black;

}
.top_nav_bar a:hover {
    text-decoration: none;
    background-color: #2005b5;
}

p {
    text-align: center;
    font-size: 50px;
}