body {
    background-color: #183157;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.top_nav_bar {
    position: relative;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: #012459;
    opacity: 75%;
}

.top_nav_bar a {
    position: relative;
    text-decoration: none;
    padding: 10px 15px;
    color: black;

}
.top_nav_bar a:hover {
    text-decoration: none;
    background-color: #0344a6;
}

.content {
    text-align: center;
    font-size: 50px;
}
.round_circle_background1{
    margin: auto;
    height: 400px;
    width: 600px;
    border: 1px solid #0344a6 ;
    border-radius: 40px;
    background-color: orangered;
}
.round_circle{
    height: 200px;
    width: 200px;

    /*border: 1px solid teal;*/
    border-top-width: 20px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    background-color: teal;
}