
body {
    background-color: #183157;
}

h1 {
    text-align: center;
    font-size: 50px;
}

img {
    display: block;
    margin: 30px auto auto auto;
    width: 20%;
    height: 20%;
    float: none;
}

.top_nav_bar {
    position: relative;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: #012459;
    opacity: 75%;
}

.top_nav_bar a {
    position: relative;
    text-decoration: none;
    padding: 10px 15px;
    color: black;

}

.top_nav_bar a:hover {
    text-decoration: none;
    background-color: #0344a6;
}

table {
    margin: 30px auto 50px auto;
}

th {
    text-align: center;
    border: solid #1d4582 2px;
    border-radius: 10px;
    padding: 10px;
    outline-color: #3166b5;

    background-color: #2a579c;
}

td {
    text-align: center;
    border: solid black 1px;
    border-radius: 10px;
    padding: 10px;
    background-color: #3166b5;
}







