
body {
    margin: 0;
    background-color: black;
    overflow: hidden;

}

.Solar-system {
    position: relative;
    width: 860px;
    height: 860px;
    display: flex;
    border: 2px solid red;
    background-color: #7be8cf;
    /*background-image: url("pexels-felix-mittermeier-956981.jpg");*/
    background-size: cover;
    justify-content: center;
    align-items: center;

}

.Sun {
    position: absolute;

    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 50%;
    box-shadow: 0 0 3vh white;
    align-self: center;
    justify-self: center;
    /*z-index: 1;*/
}

.Mercury {
    position: absolute;
    /*border-style: solid;*/
    /*border-color: transparent transparent transparent white;*/
    /*border-width: 0   0 1px 1px ;*/
    border-radius: 50%;
    width: 110px;
    height: 110px;
    align-self: center;
    justify-self: center;
    animation: orbit 4.4s linear infinite;
    /*z-index: 2;*/
}

.Mercury div {
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
}

.Venus {
    position: absolute;
    /*border-style: solid;*/
    /*border-color: transparent transparent transparent white;*/
    /*border-width: 0   0 1px 1px ;*/
    border-radius: 50%;
    width: 150px;
    height: 150px;
    align-self: center;
    justify-self: center;
    animation: orbit 11.25s linear infinite;
    z-index: 3;
}

.Venus div {
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 50%;
}

.Earth {
    position: absolute;
    /*border-style: solid;*/
    /*border-color: transparent transparent transparent white;*/
    /*border-width: 0   0 1px 1px ;*/
    border-radius: 50%;
    width: 180px;
    height: 180px;
    align-self: center;
    justify-self: center;
    animation: orbit 18.25s linear infinite;
    z-index: 4;
}

#innerEarth {
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
}

.Moon {
    position: absolute;
    /*border-style: solid;*/
    /*border-color: transparent transparent transparent white;*/
    /*border-width: 0   0 1px 1px ;*/
    border-radius: 50%;
    width: 20px;
    height: 20px;
    align-self: center;
    justify-self: center;
    animation: orbit 18.25s linear infinite;
}

.Moon div {
    width: 3px;
    height: 3px;
    background-color: rgba(105, 105, 105, 0.91);
    border-radius: 50%;
}

.Mars {
    position: absolute;
    /*border-style: solid;*/
    /*border-color: transparent transparent transparent white;*/
    /*border-width: 0   0 1px 1px ;*/
    border-radius: 50%;
    width: 220px;
    height: 220px;
    align-self: center;
    justify-self: center;
    animation: orbit 34.35s linear infinite;
    z-index: 4;
}

.Mars div {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
}

.Jupiter {
    position: absolute;
    /*border-style: solid;*/
    /*border-color: transparent transparent transparent white;*/
    /*border-width: 0   0 1px 1px ;*/
    border-radius: 50%;
    width: 380px;
    height: 380px;
    align-self: center;
    justify-self: center;
    animation: orbit 59.3s linear infinite;
    z-index: 4;
}

.Jupiter div {
    width: 50px;
    height: 50px;
    background-color: #c16a30;
    border-radius: 50%;
    border: 10px solid rgba(177, 110, 65, 0.59);

}

.Saturn {
    position: absolute;
    /*border-style: solid;*/
    /*border-color: transparent transparent transparent white;*/
    /*border-width: 0   0 1px 1px ;*/
    border-radius: 50%;
    width: 440px;
    height: 440px;
    align-self: center;
    justify-self: center;
    animation: orbit 147.3s linear infinite;
    z-index: 4;
}

.Saturn div {
    width: 50px;
    height: 50px;
    background-color: sandybrown;
    border-radius: 50%;
}

.Uranus {
    position: absolute;
    /*border-style: solid;*/
    /*border-color: transparent transparent transparent white;*/
    /*border-width: 0   0 1px 1px ;*/
    border-radius: 50%;
    width: 550px;
    height: 550px;
    align-self: center;
    justify-self: center;
    animation: orbit 420s linear infinite;
    z-index: 4;
}

.Uranus div {
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    border-radius: 50%;
}

.Neptune {
    position: absolute;
    /*border-style: solid;*/
    /*border-color: transparent transparent transparent white;*/
    /*border-width: 0   0 1px 1px ;*/
    border-radius: 50%;
    width: 630px;
    height: 630px;
    align-self: center;
    justify-self: center;
    animation: orbit 820.4s linear infinite;
    z-index: 4;
}

.Neptune div {
    width: 40px;
    height: 40px;
    background-color: deepskyblue;
    border-radius: 50%;
}
@keyframes orbit{
    to {
        transform: rotate(360deg);
    }
}