
body {
    margin: 0;
    background-color: black;
    overflow: hidden;

}

.Solar-system {
    position: relative;
    width: 860px;
    height: 860px;
    display: flex;
    border: 2px solid red;
    background-color: #0e2061;
    justify-content: center;
    align-items: center;

}

.Sun {
    position: absolute;

    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 50%;
    box-shadow: 0 0 3vh white;
    align-self: center;
    justify-self: center;
    /*z-index: 1;*/
}

.Mercury {
    position: absolute;
    /*border-style: solid;*/
    /*border-color: transparent transparent transparent white;*/
    /*border-width: 0   0 1px 1px ;*/
    border-radius: 50%;
    width: 107px;
    height: 107px;
    align-self: center;
    justify-self: center;
    animation: orbit 4.4s linear infinite;
    /*z-index: 2;*/
}

.Mercury div {
    width: 1.5px;
    height: 1.5px;
    background-color: black;
    border-radius: 50%;
}

.Venus {
    position: absolute;
    /*border-style: solid;*/
    /*border-color: transparent transparent transparent white;*/
    /*border-width: 0   0 1px 1px ;*/
    border-radius: 50%;
    width: 113px;
    height: 113px;
    align-self: center;
    justify-self: center;
    animation: orbit 11.25s linear infinite;
    z-index: 3;
}

.Venus div {
    width: 4px;
    height: 4px;
    background-color: yellow;
    border-radius: 50%;
}

.Earth {
    position: absolute;
    /*border-style: solid;*/
    /*border-color: transparent transparent transparent white;*/
    /*border-width: 0   0 1px 1px ;*/
    border-radius: 50%;
    width: 118px;
    height: 118px;
    align-self: center;
    justify-self: center;
    animation: orbit 18.25s linear infinite;
    z-index: 4;
}

.Earth div {
    width: 4px;
    height: 4px;
    background-color: blue;
    border-radius: 50%;
}

.Mars {
    position: absolute;
    /*border-style: solid;*/
    /*border-color: transparent transparent transparent white;*/
    /*border-width: 0   0 1px 1px ;*/
    border-radius: 50%;
    width: 128px;
    height: 128px;
    align-self: center;
    justify-self: center;
    animation: orbit 34.35s linear infinite;
    z-index: 4;
}

.Mars div {
    width: 2px;
    height: 2px;
    background-color: red;
    border-radius: 50%;
}

.Jupiter {
    position: absolute;
    /*border-style: solid;*/
    /*border-color: transparent transparent transparent white;*/
    /*border-width: 0   0 1px 1px ;*/
    border-radius: 50%;
    width: 196px;
    height: 196px;
    align-self: center;
    justify-self: center;
    animation: orbit 59.3s linear infinite;
    z-index: 4;
}

.Jupiter div {
    width: 44px;
    height: 44px;
    background-color: saddlebrown;
    border-radius: 50%;
}

.Saturn {
    position: absolute;
    /*border-style: solid;*/
    /*border-color: transparent transparent transparent white;*/
    /*border-width: 0   0 1px 1px ;*/
    border-radius: 50%;
    width: 277px;
    height: 277px;
    align-self: center;
    justify-self: center;
    animation: orbit 147.3s linear infinite;
    z-index: 4;
}

.Saturn div {
    width: 37px;
    height: 37px;
    background-color: sandybrown;
    border-radius: 50%;
}

.Uranus {
    position: absolute;
    /*border-style: solid;*/
    /*border-color: transparent transparent transparent white;*/
    /*border-width: 0   0 1px 1px ;*/
    border-radius: 50%;
    width: 457px;
    height: 457px;
    align-self: center;
    justify-self: center;
    animation: orbit 420s linear infinite;
    z-index: 4;
}

.Uranus div {
    width: 16px;
    height: 16px;
    background-color: blueviolet;
    border-radius: 50%;
}

.Neptune {
    position: absolute;
    /*border-style: solid;*/
    /*border-color: transparent transparent transparent white;*/
    /*border-width: 0   0 1px 1px ;*/
    border-radius: 50%;
    width: 660px;
    height: 660px;
    align-self: center;
    justify-self: center;
    animation: orbit 820.4s linear infinite;
    z-index: 4;
}

.Neptune div {
    width: 15px;
    height: 15px;
    background-color: deepskyblue;
    border-radius: 50%;
}
@keyframes orbit{
    to {
        transform: rotate(360deg);
    }
}